<!DOCTYPE html>
<html lang="pt-BR">
  <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#C0C0C0"/>
        <title>Atividade Mobile</title>
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/bootstrap/js/bootstrap.bundle.min.js">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="../static/js/atualizar.js"></script>
        <script src="../static/js/pwabuilder-sw.js"></script>
        <link rel="manifest" href="../static/js/manifest.json">
    </head>
    <body onload="atualizarConteudo()">
        <div class="navbar">
            <div class="blinking">Atividade Mobile</div>
        </div>
        <div></div>
        <div class="conversão">
            <label>No converso é a moeda que deseja converter.<br></label>
            <label>No convertida é a moeda que deseja para ao qual seja convertida.<br></label>
            <form action="/conversao" method='POST'>
                <div class="input">
                <input  class="input" type="text" name="valor" autocomplete="off"  placeholder="valor a ser convertido">
                </div>
                <div class="output">
                    O valor é:{{conversao}}
                </div>
                <select class="form-select" name="moeda">
                    <option>CONVERSOR</option>
                    {% for moeda in moedas %}
                        <option value='{{moedas[moeda]}}'>{{moeda}}</option>
                    {% endfor %}
                </select>
                <select class="form-select2" name="moeda2">
                    <option>CONVERTIDA</option>
                    {% for moeda in moedas %}
                        <option value='{{moedas[moeda]}}'>{{moeda}}</option>
                    {% endfor %}
                </select>
                <button type ='submit' class="button">consultar</button>
            </form>
        </div>
        <div class="conversão-produto">
            <select class="form-select3" name="Converter">
                <option>Converter</option>
                {% for moeda in moedas %}
                        <option value='{{moedas[moeda]}}'>{{moeda}}</option>
                    {% endfor %}
            </select>
        </div>
        <div class="container">
            <div class="espaço">
                    <img src="../static/image/notebook.jpg">
                    <div class="legenda">R$ 00.00</div>
            </div>
            <div>
                <img src="../static/image/notebook.jpg">
                <div class="legenda">R$ 00.00</div>
        </div>
        <div>
            <img src="../static/image/notebook.jpg">
            <div class="legenda">R$ 00.00</div>
    </div>
        </div>
    </body>
</html>